In [1]:
from bs4 import BeautifulSoup
from urllib import request
import pandas as pd
from shapely.geometry import Point
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual

%matplotlib inline

In [2]:
# reading in data
wikipedia = 'https://en.wikipedia.org/wiki/List_of_deadly_earthquakes_since_1900'
handler = request.urlopen(wikipedia)
soup = BeautifulSoup(handler.read(), 'html.parser')
table = soup.find_all(class_='wikitable')[0]
df = pd.read_html(str(table), header=0)[0]

# replacing footnotes and other crap
pattern = r'\(.*\)|\[.*\]|\D'
df['Other Source Deaths'] = df['Other Source Deaths'].str.replace(pattern, "")
df['EM-DAT Total Deaths'] = df['EM-DAT Total Deaths'].str.replace(pattern, "")

# replacing magnitude with number
pattern = r'[^\.\d]+'
df['Magnitude'] = df['Magnitude'].str.replace(pattern, '')

# replacing unclean longs and lats
pattern = r'\?\??'
df['Long'] = df['Long'].replace(pattern, np.nan, regex=True)
df['Lat'] = df['Lat'].replace(pattern, np.nan, regex=True)

# converting to numericdf['Long'] = pd.to_numeric(df['Long'])
df['Lat'] = pd.to_numeric(df['Lat'])
df['Long'] = pd.to_numeric(df['Long'])
df['Magnitude'] = pd.to_numeric(df['Magnitude'])
df['Other Source Deaths'] = pd.to_numeric(df['Other Source Deaths'])
df['PDE Total Deaths'] = pd.to_numeric(df['PDE Total Deaths'])
df['Utsu Total Deaths'] = pd.to_numeric(df['Utsu Total Deaths'])
df['EM-DAT Total Deaths'] = pd.to_numeric(df['EM-DAT Total Deaths'])

# creating new deaths column with max
df['Deaths'] = df[['PDE Total Deaths', 'Utsu Total Deaths', 'EM-DAT Total Deaths', 'Other Source Deaths']].max(axis=1)
df.columns.values[1] = 'Country'

# cleaning countries
pattern = r'(, ?| ?\().*'
df['Country'] = df['Country'].str.replace(pattern, '')

In [72]:
'''display_df = df[(df["Magnitude"] >= minimum) & (df['Magnitude'] <= maximum)].reset_index(drop=True)
geometry = [Point(x) for x in zip(display_df["Long"], df["Lat"])]
gdf = gpd.GeoDataFrame(display_df, geometry=geometry)
gdf.plot(ax=base, marker="o", color='green', markersize=15, alpha=0.5)'''

'''world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
base = world.plot(figsize=(25,255), color='yellow', edgecolor='pink')
def world_display(df, maximum, minimum, base):'''
    
w = widgets.FloatRangeSlider(value=(5,5), min=0, max=10, continuous_update=False)
display(w)
def response(change):
    print(change)
w.observe(response, name='value')

FloatRangeSlider(value=(5.0, 5.0), continuous_update=False, max=10.0)

TypeError: observe() got an unexpected keyword argument 'name'

In [71]:
int_range = widgets.IntSlider()
display(int_range)

def on_value_change(change):
    print(change)

int_range.observe(on_value_change, names='value')

IntSlider(value=0)

{'name': 'value', 'old': 0, 'new': 1, 'owner': IntSlider(value=1), 'type': 'change'}
{'name': 'value', 'old': 1, 'new': 2, 'owner': IntSlider(value=2), 'type': 'change'}
{'name': 'value', 'old': 2, 'new': 3, 'owner': IntSlider(value=3), 'type': 'change'}
{'name': 'value', 'old': 3, 'new': 4, 'owner': IntSlider(value=4), 'type': 'change'}
{'name': 'value', 'old': 4, 'new': 5, 'owner': IntSlider(value=5), 'type': 'change'}

In [43]:
w = widgets.FloatRangeSlider(value=(5,5), min=0, max=10, continuous_update=False)

In [52]:
df[df['Magnitude'] > 5]

,Origin (UTC),Country,Lat,Long,Depth (km),Magnitude,Secondary Effects,PDE Shaking Deaths,PDE Total Deaths,Utsu Total Deaths,EM-DAT Total Deaths,Other Source Deaths,Deaths,geometry
0,1900-05-11 17:23,Japan,38.7000,141.1000,5,7.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (141.1 38.7)
1,1900-07-12 06:25,Turkey,40.3000,43.1000,NaN,5.900,NaN,NaN,NaN,140.0,NaN,NaN,140.0,POINT (43.1 40.3)
2,1900-10-29 09:11,Venezuela,11.0000,-66.0000,0,7.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-66 11)
3,1901-02-15 00:00,China,26.0000,100.1000,0,6.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (100.1 26)
4,1901-03-31 07:11,Bulgaria,43.4000,28.7000,NaN,6.400,NaN,NaN,NaN,4.0,NaN,NaN,4.0,POINT (28.7 43.4)
5,1901-08-09 09:23,Japan,40.5000,142.5000,35,7.200,T,NaN,NaN,NaN,NaN,NaN,NaN,POINT (142.5 40.5)
6,1901-11-15 20:15,New Zealand,-43.0000,173.0000,0,6.800,NaN,NaN,NaN,1.0,NaN,NaN,1.0,POINT (173 -43)
7,1902-01-30 14:01,Japan,40.5000,141.3000,35,6.900,NaN,NaN,NaN,1.0,NaN,NaN,1.0,POINT (141.3 40.5)
8,1902-02-13 09:39,Azerbaijan,40.7000,48.6000,15,6.900,NaN,NaN,NaN,86.0,NaN,NaN,86.0,POINT (48.6 40.7)
9,1902-03-09 07:46,Turkey,40.7000,33.6000,NaN,5.500,NaN,NaN,NaN,4.0,NaN,NaN,4.0,POINT (33.6 40.7)
10,1902-04-19 02:23,Guatemala,14.0000,-91.0000,0,7.500,NaN,NaN,NaN,2000.0,2000.0,NaN,2000.0,POINT (-91 14)
11,1902-07-03 15:36,China,43.2000,129.6000,20,6.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (129.6 43.2)
12,1902-08-22 03:00,China,40.0000,77.0000,0,7.700,NaN,NaN,NaN,5650.0,NaN,NaN,5650.0,POINT (77 40)
13,1902-09-19,Australia,-35.0000,138.0000,2,6.000,NaN,NaN,NaN,2.0,NaN,NaN,2.0,POINT (138 -35)
14,1902-12-16 05:07,Uzbekistan,40.8000,72.3000,9,6.400,NaN,NaN,NaN,4725.0,NaN,NaN,4725.0,POINT (72.3 40.8)
15,1903-03-29 22:30,Judea and Samaria,32.2000,35.3000,NaN,5.700,NaN,NaN,NaN,20.0,NaN,NaN,20.0,POINT (35.3 32.2)
16,1903-04-28,Turkey,39.1400,42.6500,NaN,7.000,NaN,NaN,NaN,NaN,NaN,3500.0,3500.0,POINT (42.65 39.14)
17,1903-05-28 03:58,Turkey,40.9000,42.7000,NaN,5.800,NaN,NaN,NaN,1000.0,NaN,NaN,1000.0,POINT (42.7 40.9)
18,1903-08-11 04:32,Greece,36.3600,22.9700,80,8.300,NaN,NaN,NaN,2.0,NaN,NaN,2.0,POINT (22.97 36.36)
19,1903-09-25 01:20,Iran,35.2000,58.2000,NaN,6.500,NaN,NaN,NaN,200.0,NaN,NaN,200.0,POINT (58.2 35.2)
20,1904-04-24 06:39,Taiwan,23.5000,120.5000,NaN,6.000,NaN,NaN,NaN,3.0,NaN,NaN,3.0,POINT (120.5 23.5)
21,1904-08-11 05:56,Greece,37.7500,27.0000,10,6.200,NaN,NaN,NaN,4.0,NaN,NaN,4.0,POINT (27 37.75)
22,1904-08-30 11:42,China,30.0000,101.0000,0,6.800,NaN,NaN,NaN,565.0,NaN,NaN,565.0,POINT (101 30)
23,1904-11-05 20:25,Taiwan,23.5000,120.3000,NaN,6.300,NaN,NaN,NaN,145.0,NaN,NaN,145.0,POINT (120.3 23.5)
24,1905-04-04 00:50,India,33.0000,76.0000,0,7.800,NaN,NaN,NaN,20000.0,20000.0,NaN,20000.0,POINT (76 33)
25,1905-06-01 04:42,Albania,42.1000,19.6000,20,6.600,NaN,NaN,NaN,120.0,NaN,NaN,120.0,POINT (19.6 42.1)
26,1905-06-02 05:39,Japan,34.1000,132.5000,55,7.000,NaN,NaN,NaN,11.0,NaN,NaN,11.0,POINT (132.5 34.1)
27,1905-09-08 01:43,Italy,39.0000,16.0000,0,6.800,T,NaN,NaN,557.0,2500.0,NaN,2500.0,POINT (16 39)
28,1905-11-08 22:06,Greece,40.0000,24.0000,0,6.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (24 40)
29,1906-01-31 15:36,Ecuador,1.0000,-81.5000,0,8.800,T,NaN,NaN,1000.0,400.0,NaN,1000.0,POINT (-81.5 1)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1309,2008-05-24 19:20,Colombia,4.3300,-73.7640,8,5.900,L,0.0,6.0,NaN,NaN,NaN,6.0,POINT (-73.764 4.33)
1310,2008-05-25 08:21,China,32.5600,105.4230,18,6.100,L,8.0,8.0,NaN,NaN,NaN,8.0,POINT (105.423 32.56)
1311,2008-06-06 20:02,Algeria,35.8830,-0.6580,4,5.500,NaN,0.0,1.0,NaN,NaN,NaN,1.0,POINT (-0.6579999999999999 35.883)
1312,2008-06-08 12:25,Greece,37.9630,21.5250,16,6.400,NaN,2.0,2.0,NaN,2.0,NaN,2.0,POINT (21.525 37.963)
1313,2008-06-13 23:43,Japan,39.0300,140.8810,7,6.900,L,13.0,13.0,NaN,13.0,NaN,13.0,POINT (140.881 39.03)
1315,2008-07-15 03:26,Greece,35.9830,27.7850,68,6.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (27.785 35.983)
1316,2008-08-21 12:24,China,25.1000,97.9000,NaN,5.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (97.90000000000001 25.1)
1317,2008-08-30 8:30,China,26.0000,101.9000,10,5.700,NaN,NaN,NaN,NaN,NaN,41.0,41.0,POINT (101.9 26)
1318,2008-10-05 15:52,Kyrgyzstan,39.5150,73.7680,27.6,6.900,NaN,NaN,NaN,NaN,NaN,60.0,60.0,POINT (73.768 39.515)
1319,2008-10-06 16:30,China,NaN,NaN,NaN,6.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
1320,2008-10-28 23:09,Pakistan,NaN,NaN,NaN,6.400,NaN,NaN,NaN,NaN,NaN,215.0,215.0,POINT (nan nan)
1321,2009-01-08 19:21,Costa Rica,10.3962,-84.0281,48,6.100,L,NaN,NaN,NaN,NaN,34.0,34.0,POINT (-84.02809999999999 10.3962)
1322,2009-04-06 03:32,Italy,42.3340,13.3340,8.8,6.200,NaN,NaN,NaN,NaN,NaN,295.0,295.0,POINT (13.334 42.334)
1323,2009-07-09 11:19,China,NaN,NaN,NaN,5.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
1324,2009-08-10 20:07,Japan,NaN,NaN,NaN,6.400,NaN,NaN,NaN,NaN,NaN,1.0,1.0,POINT (nan nan)
1325,2009-09-02 07:55,Indonesia,NaN,NaN,NaN,7.000,NaN,NaN,NaN,NaN,NaN,79.0,79.0,POINT (nan nan)
1326,2009-09-29 17:48,Samoa,NaN,NaN,8.1,8.100,NaN,NaN,NaN,NaN,NaN,189.0,189.0,POINT (nan nan)
1327,2009-09-30 10:16,Indonesia,NaN,NaN,NaN,7.600,NaN,NaN,NaN,NaN,NaN,1115.0,1115.0,POINT (nan nan)
1328,2010-01-12 17:00,Haiti,18.4570,-72.5330,13,7.000,NaN,NaN,NaN,NaN,NaN,222517.0,222517.0,POINT (-72.533 18.457)
1329,2010-02-27 06:34,Chile,-35.8460,-72.7190,35,8.818,T,NaN,NaN,NaN,NaN,521.0,521.0,POINT (-72.71899999999999 -35.846)
1330,2010-03-08 02:32,Turkey,NaN,NaN,NaN,6.100,NaN,NaN,NaN,NaN,NaN,42.0,42.0,POINT (nan nan)
1331,2010-03-11 14:39,Chile,NaN,NaN,NaN,6.900,L,NaN,NaN,NaN,NaN,1.0,1.0,POINT (nan nan)
1332,2010-04-14 23:49,China,NaN,NaN,NaN,6.900,L,NaN,NaN,NaN,NaN,2698.0,2698.0,POINT (nan nan)
1333,2011-02-21 23:51,New Zealand,NaN,NaN,NaN,6.300,Lq,NaN,NaN,NaN,NaN,181.0,181.0,POINT (nan nan)
1334,2011-03-10 04:58,China,NaN,NaN,NaN,5.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
1335,2011-03-11 14:46,Japan,38.3220,142.3690,24.4,9.000,T,NaN,NaN,NaN,NaN,15894.0,15894.0,POINT (142.369 38.322)
1336,2011-03-24 20:25,Burma,NaN,NaN,NaN,6.800,NaN,NaN,NaN,NaN,NaN,150.0,150.0,POINT (nan nan)
1337,2011-04-07 14:32,Japan,38.2000,140.0000,66.0,7.100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (140 38.2)
1338,2011-09-18 12:40,India,27.7230,88.0640,19.7,6.900,L,NaN,NaN,NaN,NaN,111.0,111.0,POINT (88.06399999999999 27.723)
1339,2011-09-23 10:41,Turkey,38.6000,43.5000,7.2,7.100,NaN,NaN,NaN,NaN,NaN,601.0,601.0,POINT (43.5 38.6)

In [46]:
w.value

(1.6, 5.0)